# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore build files
client/build/
server/build/

# Ignore environment variables
.env
client/.env
server/.env

# Ignore logs
*.log
node_modules
